@use "../abstracts/mixins" as *;

.container {
  width: min(100%, 1200px);
  margin: var(--gutter) auto;
  padding-inline: var(--gutter);

  @include xs-3 {
    padding-inline: 0.8rem;
  }
}

.card {
  width: 100%;
  margin-inline: auto;
  background: var(--color-bg-light);
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  @include xs-3 {
    padding: 0.5rem;
  }
}
