.container {
  width: min(100%, 1200px);
  margin-inline: auto;
  padding-inline: var(--gutter);
}

.card {
  width: 100%;
  margin-inline: auto;
  background: var(--color-bg-light);
  padding: 1rem;
  border-radius: 7px;
}
