.container {
  width: min(100%, 1200px);
  margin: var(--gutter) auto;
  // margin-inline: auto;
  padding-inline: var(--gutter);
  // border: 1px solid #f00;
}

.card {
  width: 100%;
  margin-inline: auto;
  background: var(--color-bg-light);
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
