@use "../abstracts/mixins" as *;

.page--home {
  display: grid;
  gap: 4rem;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;

  @include xs-2 {
    grid-template-columns: 1fr;
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.revenue {
  height: min-content;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include md {
    flex-direction: row;
  }
}

.transactions {
  &__heading {
    font-size: 1.8rem;
    font-weight: 600;
  }
}
