@use "../abstracts/mixins" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  transform: translateX(-101%);
  transition: all 0.4s;
  background: var(--color-bg-light);
  z-index: 9999;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  &--opened {
    transform: translateX(0);
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 5px 0 var(--gutter);
    margin-bottom: 2rem;
  }

  &__close-icon {
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;

    &:hover {
      fill: var(--color-muted-light);
      background: var(--color-primary);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
  }

  &__sublist-title {
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 var(--gutter);
  }

  &__sublist-list {
  }

  &__item {
  }

  &__link {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem calc(var(--gutter) + 0.5rem);
    transition: all 0.3s;

    &:hover {
      background: var(--color-muted-light);
      padding-left: calc(var(--gutter) + 1rem);
    }
  }

  &__icon {
    font-size: 1.8rem;
    fill: var(--color-primary);
  }

  @include sm {
    position: static;
    transform: translateX(0);
    border: none;
    border-radius: 7px;
    min-height: auto;

    &__brand {
      display: none;
    }

    &__sublist-title {
      padding: 1rem 0 0 1rem;
    }

    &__link {
      padding: 0.5rem 0.5rem 0.5rem 1rem;

      &:hover {
        padding-left: 1.5rem;
      }
    }
  }
}
