@use "../abstracts/mixins" as *;

.app {
  display: grid;
  gap: 1.6rem;

  @include sm {
    // display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: min-content 1fr;
    // gap: 1.6rem;

    .navbar {
      grid-column: 1 / -1;
    }

    .sidebar {
      grid-row: 2 / -1;
    }

    .page {
      // grid-column: 2;
    }
  }
}
